/* FONTS */
/* normal */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

/* BASICS */
* {
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* html */
html {
  height: 100%;
}

/* body */
body {
  color: #333;
  font-size: 17px;
  margin: 0;
  height: 100%;
}

/* a */
a {
  color: #4e6c7e;
}

a:hover {
  color: #30434f;
}

/* stile header */
.header {
	background-color:#fff2e6; /*beige chiarissimo*/
	text-align: center;	
	line-height: 3;
	padding-top: 0px;
	padding-bottom: 0px;
}

/* aggiustamento immagine header*/
.header img {
	width: 40%;
	height: auto;
	display: block;
	margin: auto;
	padding: 20px;
}

/* stile intro e navbar*/

#container_intro {
	position:absolute;
	margin: 10px 1px 10px 10px;
	width: 98%;
}

.navbar {
	background-color:#b35900;
	border-radius: 5px;
	overflow: hidden;
}

.navbar ul {
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	padding: 15px;
	display: flex;
	justify-content: space-around;   
}

.navbar li {
	flex: 1;
	text-align: center;
	border-right: 1px solid #bbb;
}

.navbar li:last-child {
	border-right: none;
}

.navbar a {
	width: 100%;
	background-color: #b35900;
	display:block;
	text-align: center;
	color: white;
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
	text-decoration: none;
	transition: background-color 0.3s;
}

.navbar a:active {
  background-color: #b35900;
  color: white;
}

.navbar a:hover {
	background-color: #c2b280;
}

/* row */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* one column */
.column {
  float: left;
  padding: 5%;
  width: 100%;
}

/* two columns */
/* left column */
.leftcolumn {
  float: left;
  padding: 15px;
  width: 20%;
}

/* right column */
.rightcolumn {
  float: left;
  padding: 15px;
  width: 80%;
}

/* equal columns */
.equalcolumn {
  float: left;
  padding: 15px;
  width: 50%;
}

/* responsive column */
@media screen and (max-width: 600px) {
  /* columns */
  .column,
  .leftcolumn,
  .rightcolumn,
  .equalcolumn {
    width: 100%;
  }
}

.intro {
	color: #fff2e6; /*beige chiarissimo*/
	background-image:url("../img/layout/Maria_Lai.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position:relative;
	padding:5%;
	font-family: "Montserrat", sans-serif;
	line-height: 8;
}

.intro h1 {
	font-size: 40px;
	letter-spacing: 4px;
	text-shadow: 1px 1px 3px grey;
	margin: 25px;
}

.intro h3 {
	font-size: 24px;
	letter-spacing: 1px;
	text-shadow: 1px 1px 3px grey;
	position: relative;
	top: 20px;
	margin-left: 5px;
}

.button {
	text-align: center;
	margin-top: 20px;
}

.btn {
	display: inline-block;
	margin-top: 2px;
    padding: 0px 8px;
	background-color: #ffb366; /*arancio chiaro*/
	color: black;
	font-size: 18px;
	text-decoration: none;
	border-radius: 5px;
	transition: background-color 0.3s;
	cursor: pointer;
	width: 150px;
	height: 60px; 
    line-height: 60px;
}

.btn:hover {
	color:#333333; /*grigio scuro*/
	background-color:#ffd9b3; /*arancio super chiaro*/
}

.esplora {
	background-color:#e6e6e6; /*grigio chiarissimo*/
	padding:5%;
	font-family: "Montserrat", sans-serif;
}

/* stile progetto */
.progetto {
	background-color:#fff2e6;/*beige chiarissimo*/
	padding: 1%;
	font-family: "Montserrat", sans-serif;
}

.progetto p {
	line-height: 1.5;
	font-family: "Montserrat", sans-serif;
	text-align: justify;
	background-color: #ffe5cc; /*arancio chiarissimo*/
	width: 90%;
	border: 5px navajowhite;
	padding: 50px;
	margin: 20px;
}

/* accordion */
.accordion {
  background-color: #fff2e6;
  color: #444;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: justify;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color:  #ffe5cc;
}

.panel {
  padding: 0 18px;
  line-height: 1.5;
  text-align: justify;
  font-family: "Montserrat", sans-serif;
  background-color: white;
  display: none;
  overflow: hidden;
}  

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: navajowhite;
  float: right;
  margin-left: 5px;
}

.accordion.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}


.button_vai {
	text-align:center;
	display:inline-block;
	left: -40%;
	top: -15px;
	margin-top: 18px;
	margin-bottom: 10px;
    padding: 2%;
	background-color: #cccccc; /*grigio chiaro*/
	color: black;
	font-size: 15px;
	text-decoration: none;
	border-radius: 5px;
	transition: background-color 0.3s;
	cursor: pointer;
    line-height: 8px;
}


.button_vai:hover{
	color:#404040;
	background-color:#e6e6e6;
}

/* stile pre-footer*/
.pre-footer {
	background-color:#fff2e6; /*beige*/
	font-family: '';
	text-align: center;	
	line-height: 3;
	padding-top: 0px;
	padding-bottom: 0px;
}

.pre-footer {
	text-align: center;
	padding: 15px;
}

.pre-footer b {
	font-size: 30px;
	color: black;
	text-decoration: none;
}

/*stile footer */
.footer {
	background-color:#b35900; /*arancio-mattone*/
	padding: 3%;
	overflow: hidden;
	text-align: center;
}

/*LA VITA*/

.biografia {
	padding-top: 70px;
	padding-left: 20px;
	background-color:#e6e6e6; /*grigio chiaro*/
	font-family: "Montserrat", sans-serif;
	text-align: justify;
}

#foto_ulassai {
	float: right;
	width: 300px;
	border: 0px 0px 1px 1px solid #ddd;
	border-radius: 4px;
	padding: 2px 5px 10px 10px;
}

#foto_vita {
    float: left;
	width: 400px;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px 10px 10px 2px;
}

.btn-approfondisci {
	display: block;
	width: 80%;
	margin-top: 2px;
    margin-top: 2px;
    padding: 0px 8px;
	background-color: #ffb366; /*arancio chiaro*/
	color: #333333;
	font-size: 13px;
	text-align: center;
	text-decoration: none;
	border-radius: 5px;
	transition: background-color 0.3s;
	cursor: pointer;
	height: 60px; 
    line-height: 60px;
}

/* CATALOGO*/
/* breadcrumbs */
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #f1f1f1;
}

ul.breadcrumb li {
  display: inline;
  font-size: 15px;
}

ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: #4e6c7e;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: #30434f;
  text-decoration: underline;
}

.btn-cronologico {
	display: inline-block;
	margin-top: 2px;
    padding: 0px 8px;
	background-color: #f2f2f2; /*grigio chiarissimo*/ 
	color: black;
	font-size: 14px;
	line-height: 2;
	text-align: center;
	text-decoration: none;
	border-radius: 5px;
	transition: background-color 0.3s;
	cursor: pointer;
	width: 150px;
	height: 60px; 
}

.btn-alfabetico {
	display: inline-block;
	margin-top: 2px;
    padding: 0px 8px;
	background-color: #e6e6e6; /*grigio chiaro*/ 
	color: black;
	font-size: 14px;
	text-align: center;
	line-height: 4;
	text-decoration: none;
	border-radius: 5px;
	transition: background-color 0.3s;
	cursor: pointer;
	width: 150px;
	height: 60px; 
}

.btn-collocazione {
	display: inline-block;
	margin-top: 2px;
    padding: 0px 8px;
	background-color: #d9d9d9; /*grigio chiaro2*/ 
	color: black;
	font-size: 14px;
	line-height: 3.7;
	text-align: center;
	text-decoration: none;
	border-radius: 5px;
	transition: background-color 0.3s;
	cursor: pointer;
	width: 150px;
	height: 60px; 
}

/* catalogo*/

/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
  height: 100%;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

/*search-bar*/

.search-container {
  margin: auto;
  max-width: 300px;

}

.search-container input {
	padding: 14px;
	font-size: 13px;
	border: 1px solid grey;

}

.search-container button {
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}


/*struttura a colonne*/

/*colonna sinistra*/
.leftcolumn ul {
	background-color: white;
	padding: 10px;
}

/*colonna destra*/
.rightcolumn {
	grid-column-start: 2;
	grid-column-end:4;
}

.date_titolo {
	font-size: 18px;
	color: #a6a6a6; /*grigio medio*/
}

/* Stile tab */
.tab {
  overflow: hidden;
  
}

.tab-bar {
	border: 1px solid #ccc;
	border-bottom: none;
	background-color: #ffe5cc;
}

/* Stile buttons tabcontent */
.tab button {
  background-color: #ffe5cc;
  border: none;
  border-width: 0;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 16px;
  text-align: justify;
}

/* sfondo colore bottone hover */
.tab button:hover {
  background-color: #ffad66; /* arancio*/
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ffad66; 
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;

}

/* pagination */
.pagination {
  font-size: 13px;
  margin: 20px 0;
  text-align: center;
}

.pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.pagination a.active {
  background-color: #999999;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #bfbfbf;
}


/*stile card*/

.card {
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 20px;
}

.card a {
  margin-bottom: 16px;
}

.card .img {
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.button_opera {

	text-align: center;
	margin-top: 20px;
	display: inline-block;
	margin-top: 2px;
    padding: 0px 8px;
	background-color: #ffb366; /*arancio chiaro*/
	color: black;
	font-size: 18px;
	text-decoration: none;
	border-radius: 5px;
	transition: background-color 0.3s;
	cursor: pointer;
	width: 150px;
	height: 60px; 
    line-height: 60px;
}

.button_opera:hover {
	color:#333333; /*grigio scuro*/
	background-color:#ffd9b3; /*arancio super chiaro*/
}


/* img prima attività */
.card .img-PA-1 {
  background-image: url("../img/opere/prima_attivita/PA-53.jpeg");
}

.card .img-PA-2 {
  background-image: url("../img/opere/prima_attivita/PA-57.jpeg");
}

.card .img-PA-3 {
  background-image: url("../img/opere/prima_attivita/PA-58.jpg");
}

.card .img-PA-4 {
  background-image: url("../img/opere/prima_attivita/PA-62.jpg");
}


/* img anni '70 */
.card .img-A7-71 {
  background-image: url("../img/opere/anni_70/A7-71.png");
}

.card .img-A7-72 {
  background-image: url("../img/opere/anni_70/A7-72.jpeg");
}

.card .img-A7-75 {
  background-image: url("../img/opere/anni_70/A7-75.jpeg");
}

.card .img-A7-79 {
  background-image: url("../img/opere/anni_70/A7-79.jpg");
}

/* img anni '80 */
.card .img-A8-81 {
  background-image: url("../img/opere/anni_80/A8-81.jpeg");
}

.card .img-A8-83 {
  background-image: url("../img/opere/anni_80/A8-83.jpeg");
}

.card .img-A8-84 {
  background-image: url("../img/opere/anni_80/A8-84.jpeg");
}

.card .img-A8-88 {
  background-image: url("../img/opere/anni_80/A8-88.jpeg");
}

/* img anni '90 */
.card .img-A9-90 {
  background-image: url("../img/opere/anni_90/A9-90.jpeg");
}

.card .img-A9-91 {
  background-image: url("../img/opere/anni_90/A9-91.jpeg");
}

.card .img-A9-97 {
  background-image: url("../img/opere/anni_90/A9-97.jpeg");
}

.card .img-A9-99 {
  background-image: url("../img/opere/anni_90/A9-99.jpeg");
}

/*PAGINA ITEM*/
/**/

.leftcolumnITEM {
	background-color: #fff2e6;
}

.rightcolumnITEM {
	text-indent: justify;
	background-color: white;
}

.PA-53_Metadati {
	text-align: justify;
}

.metadati_item  {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.metadati_item li {
  border: 1px solid #ddd; /* Add a thin border to each list item */
  margin-top: -1px; /* Prevent double borders */
  background-color: #fff2e6; /*beige*/
  padding: 12px; /* Add some padding */
}

/* ALTRO */

.riquadro_video {
    grid-template-columns: 2fr 1fr; /* Prima colonna più larga della seconda */
	background-color:#e6e6e6; /*grigio chiarissimo*/	
	padding: 2%;	
}

#video {	
	width: 990px;
	height: 500px;
	border:none;
}

.testo_video {
	text-align: justify;
}

div.box {
	width:990px; 
	height:430px;
	background:url(boxbk.png) no-repeat top left;
	padding:1px 0;
	font-size:14px;
	background-color:white;
}

div.box-inner {
	height: 400px;
	overflow:auto;
	margin: 5px;
	margin-bottom:10px;
	padding-right:2px
}

#TEI {
	font-size: 16px;
	color: #4d2e00; /*marrone*/
}

#h5 {
	text-align: right;
	padding-right:95px;
	color:#4d4d4d; /*grigio scuro*/ 
}